<header>
	<h1>projet audio</h1>
</header>
<main>
	<section class="photos">
		<h2>Photos</h2>

		<div class="photos1">
			<div class="photo1-col2 un">
				<%= image_tag "gallery-09.jpg" %>
			</div>
			<div class="photo1-col2 deux">
				<%= image_tag "gallery-04.jpg" %>
				<%= image_tag "gallery-05.jpg" %>
			</div>
		</div>
		<div class="photos2">
			<div class="photo2-col3 un">
				<%= image_tag "gallery-08.jpg" %>
			</div>
			<div class="photo2-col3 un">
				<%= image_tag "gallery-07.jpg" %>
			</div>
			<div class="photo2-col3 deux">
				<%= image_tag "gallery-06.jpg" %>
			</div>
		</div>
		<div class="photos3">
			<div class="photo3-col4 un">
				<%= image_tag "gallery-03.jpg" %>
			</div>
			<div class="photo3-col4 un">
				<%= image_tag "gallery-01.jpg" %>
			</div>
			<div class="photo3-col4 trois">
				<%= image_tag "gallery-02.jpg" %>
			</div>
			<div class="photo3-col4 quatre">
				<%= image_tag "gallery-10.jpg" %>
			</div>
		</div>
	</section>